<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Animated Mesh Lines | Boreal Sky | Codrops</title>
	<meta name="description" content="Animated WebGL lines created with the THREE.MeshLine library" />
	<meta name="keywords" content="webgl, three.js, meshline, animation, lines" />
	<meta name="author" content="Codrops" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="favicon.ico">
	<script>document.documentElement.className = "js"; var supportsCssVars = function () { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e }; supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	<!-- <link href="vendors.css" rel="stylesheet">
	<link href="demo5.css" rel="stylesheet"> -->
	<style type="">
		@media screen and  (max-width: 767px)  {
			.navbar-brand{
				padding-left: 80px;
				width: 85%;
				text-align: center;
			}
	</style>
</head>

<body style="color: black;overflow-x: hidden;">
	<nav class="navbar navbar-expand-md bg-light navbar-light">
		<a class="navbar-brand" href="#"><img src="https://getyoutube.net/public/img/getyoutube.svg?7" width="180px"></a>
		<button style="position: absolute;top: 8px;left: 15px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span style="float: left;" class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav" >
				<li class="nav-item">
					<a class="nav-link" href="#">YouTube</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">TikTok</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>
		</div>
		<div class="dropdown dropleft" style="position: absolute;right:10px;top: 15px;">
			<button type="button" class="btn" style="border: none;background-color: none;padding: 0px;margin: 0px;" data-toggle="dropdown">
				Uzbek
			</button>
			<div class="dropdown-menu" style="padding: 0;margin: 0px;">
				<a class="dropdown-item" style="padding-right: 0px;" href="#">Ruscha</a>
				<a class="dropdown-item" style="padding-right: 0px;" href="#">English</a>
				<a class="dropdown-item" style="padding-right: 0px;" href="#">Kirilcha</a>
			</div>
		</div>
	</nav>

	<div class="overlay"></div>
	<main style="padding-right: 20px;padding-left: 20px;">
		<div class="frame">


			<div style="text-align: center;z-index: 1100000000000000000000000000000000000 !important;margin-top: 80px;"
				class="align-middle justify-content-center">
				<div>
					<h1>YouTube Video Downloader</h1><br>
					<h2 style="font-size:large">The best Youtube Downloader - Video Downloader. It’s fast, free, and
						fantastic!</h2><br>

					<div class="container">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<form method="post">
								{% csrf_token %}
									<div class="input-group mb-3">
										<input type="text" name="youtube_channel_url" class="form-control"
											placeholder="Please paste your video's youtube url">
										<div class="input-group-append">
											<button class="btn btn-success" type="submit">Download</button>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container justified-content-center" style="margin-top: 75px;width: 100%;">
			<div class=" row justify-content-center">
				<div class="col-md-3  bg-light"
					style="padding: 20px;border-radius: 15px;color: black;margin-right: 20px;margin-left: 12px;">
					<h5>Быстрый и легкий в использовании</h5><br>
					Этот веб-сайт является быстрым и простым способом загрузки и сохранения видео YouTube в MP3 или MP4.
					 Просто скопируйте URL YouTube, вставьте его в поле поиска и нажмите кнопку "Преобразовать".
					  Регистрация учетных записей не требуется

				</div><br >
				<div class="col-md-3 bg-light"
					style="padding: 20px;border-radius: 15px;color: black;margin-right: 20px;margin-left: 12px;">
					<h5>Без ограничения</h5><br>
					Скачивайте и конвертируйте Youtube видео столько, сколько вы захотите, без ограничений и всегда бесплатно.
				</div><br>
				<div class="col-md-3 bg-light" 
					style="padding: 20px;border-radius: 15px;color: black;margin-right: 20px;margin-left: 12px;">
					<h5>100% безопасный</h5>
					С повышением осведомленности о безопасности устройств люди придают большое значение персональным 
					данным. Сервис полностью чистый, без вируса под интенсивным наблюдением, основанным на базе данных безопасности.
				</div>

			</div>


		</div>
		<div class="container mb-5 justify-content-center align-items-center" style="margin-top: 80px;">
			<h5>Как скачать ютубе видео</h5><br>
		Сервис, которому можно доверять! YouTube.com считается одним из популярных ресурсов для скачивания 
		коротких видеороликов. Это стало возможно по ряду объективных причин.
		 Он удобен и прост в своих форматах, но сама процедура скачивания порой немного ограничена. 
		 Существуют варианты самостоятельного скачивания, но, чтобы разобраться во всех тонкостях, расширениях и
		  ограничениях пройдет уйма времени, а результат может оказаться не надлежащего качества. Поэтому многие предп
		  очитают сразу переходить к помощи особых программ для скачивания, которые в автоматическом режиме решают все
		   вопросы. Наш сервис Getyoutube.net позволит любому пользователю оперативно скачать видео с YouTube на компьют
		   ер, смартфон, планшет или другой гаджет, без установки дополнительных программ. Мы гарантируем, что все сохраненн
		   ые вами ролики, будут безупречного качества, как представлены в оригинале.<br><br>
		<h5>Как пользоваться нашим сервисом?</h5><br>
		Предлагаем вашему вниманию простую инструкцию, которая позволит оперативно скачивать видеоролики
		 из Ютуба без потери качества и без лишних финансовых затрат. Простые шаги – Как скачать с youtube:
		Чтобы начать процедуру скачивания, достаточно найти ролик в YouTube.com;
		Скопируйте ссылку;
		Вставьте ссылку в нужное поле нашего веб-ресурса;
		Далее необходимо выбрать формат и уровень качества (480p, HD, FullHD, UltraHD), затем нажать кнопку загрузка;
		Видео начнет копироваться на ваш гаджет.
		Данный загрузчик YouTube-каналов абсолютно бесплатный. Он позволяет скачать видео в формате mp4, webm,
		 audio, 3gpp, x-flv. В качестве дополнительной опции наш сервис предлагает загрузить видео в 4К-качестве
		  из соцсети ВКонтакт. Преимущества нашего сервиса:  Выбирая наш ресурс, вы сможете неограниченно скачать 
		  видео бесплатно от YouTube и любимые ролики без прохождения утомительных регистраций или СМС. Вам не нужно 
		  устанавливать специальную программу на ваш компьютер. Интуитивно понятное меню позволит вам без труда освоить
		   простые шаги скачивания нужных роликов на свой гаджет. Наш удобный сервис позволит вам без проблем создать 
		   собственную уникальную видео-коллекцию, основанную на вашем вкусе.

		</div>
	</main>

	<div class="col-md-12 bg-light justified-content-center ">
		<div class="container" style="padding:20px;;">
			<div class="row justify-content-center align-items-center" style="text-align: center;">
				<div class="col-md-2 col-sm-3 col-lg-1 col-3">
					Salom
				</div>
				<div class="col-md-2 col-sm-3 col-lg-1  col-3">
					Salom
				</div>
				<div class="col-md-2 col-sm-3 col-lg-1 col-3">
					Salom
				</div>
				<div class="col-md-2 col-sm-3 col-lg-1 col-3">
					Salom
				</div>
				<div class="col-md-2 col-sm-3 col-lg-1 col-3">
					Salom
				</div>
				<div class="col-md-2 col-sm-3 col-lg-1 col-3">
					Salom
				</div>
				<div class="col-md-2 col-sm-3 col-lg-1 col-3">
					Salom
				</div>
				<div class="col-md-2 col-sm-3 col-lg-1 col-3">
					Salom
				</div>
			</div>
		</div>
	</div>
	<!-- <script type="text/javascript" src="vendors.js"></script>
	<script type="text/javascript" src="demo5.js"></script> -->
</body>

</html>